* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root {
    --main-color: #222;
    --main-width: 4px;
}
body {
    font-family: 'Lato' , sans-serif;
    background-color: rgb(190, 218, 208);
}
/*----------------------------------
style game info
------------------------------------*/
.game-info {
    display: flex;
}
.game-info .game-name{
    flex: 1;
    font-size: 24px;
    font-weight: 700;
    color: #d10;
}
.game-info .categories {
    flex: 1;
    text-align: right;
    font-size: 24px;
    font-weight: 700;
}
.game-info .categories span {
    color: #e91e63;
}
/*-------------------------------
style the design
-----------------------------*/
.hang-design {
    flex: 1;
    background-color: #f8f8f8;
    padding: 20px;
    height: 324px;
    border-radius: 10px;
    border: 1px solid var(--main-color);
}
.the-design {
    width: 80px;
    height: 280px;
    border-bottom: var(--main-width) solid var(--main-color);
    position: relative;
    margin: auto;

}
.the-stand {
    content: "";
    position: absolute;
    width: var(--main-width);
    background-color: var(--main-color);
    height: 100%;
    left: 50%;
    transform: translate(-50%);

}
.the-hang::before {
    content: "";
    position: absolute;
    height: var(--main-width);
    background-color: var(--main-color);
    width: 100px;
    left: 40px;
    top: 15px;
}
.the-hang::after {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    width: var(--main-width);
    left: 136px;
    top: 15px;
    height: 45px;
}
.the-rope {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    left: 103px;
    top: 56px;
    border: var(--main-width) dashed var(--main-color);
}
/*---------------------------------------
style the man
--------------------------------------*/
.the-man .man-head {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: var(--main-width) solid var(--main-color);
    position: absolute;
    left: 113px;
    top: 66px;
}
.the-man .man-body {
    position: absolute;
    background-color: var(--main-color);
    width: var(--main-width);
    height: 110px;
    top: 112px;
    left: 136px;
}
.the-man .man-hands::before,
.the-man .man-hands::after
{
    content: "";
    width: 50px;
    position: absolute;
    height: var(--main-width);
    background-color: var(--main-color);
    top: 150px;
}
.the-man .man-hands::before {
    left: 92px;
    transform: rotate(30deg);
}
.the-man .man-hands::after {
    left: 135px;
    transform: rotate(-30deg);
}
.the-man .man-legs::before,
.the-man .man-legs::after {
    content: "";
    width: 50px;
    position: absolute;
    height: var(--main-width);
    background-color: var(--main-color);
    top: 230px;
}
.the-man .man-legs::after {
    left: 134px;
    transform: rotate(-150deg);
}
.the-man .man-legs::before {
    left: 91px;
    transform: rotate(150deg);
}